.footer {
    display: flex;
    justify-content: space-around;
    font-size: 0.8em;
    font-weight: bold;
    padding: 10px;
    background: var(--bg-gradient);
    width: 100%;
    position: fixed;
    bottom: 0;
}

.linkContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 40px;
}

.footerLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
}

.icon {
    width: 30px;
    height: 30px;
}