.header {
    display: grid;
    font-size: 1.2em ;
    font-weight: bold;
    padding: 10px;
    place-items: center;
    background: var(--bg-gradient);
} 

.input {
    background-color: rgba(121,121,121,0.257);
    padding: 10px 10px;
    border-radius: 5px;
    margin:10px 10px;
    border: none;
    width: 80vw;

}