.loadingScreen {
    display: grid;
    height: 100vh;
    place-items: center;
    background: var(--bg-gradient);
} 

.loadingScreenItem {
    width: 30%;
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;

}
.loadingScreemSpan {

    font-size: 2.5rem;
    font-style: italic;
}